<h1>Speaky</h1>
<!-- <h1>Rooms#show</h1> -->
<!-- <p>Find me in app/views/rooms/show.html.erb</p> -->

<div id="messages">
  <%= render @messages %>
</div>

<!-- take in messages -> room.coffee -->
<form>
  <label>Speaky now plz:</label>
  <input type="text" data-behavior="room_speaker">
</form>